@import url("file:///home/vodrech/.cache/matugen/waybar/colors.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
    background: @background;
    color: @foreground;
}

/* All modules */
#workspaces,
#window,
#clock,
#pulseaudio,
#network,
#battery,
#tray {
    background: @surface;
    color: @foreground;
    padding: 0 12px;
    margin: 4px;
    border-radius: 12px;
}

/* Workspaces */

#workspaces button {
    color: @foreground;
    padding: 0 8px;
    border-radius: 10px;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
}

#workspaces button:hover {
    background: @secondary_container;
    color: @on_secondary_container;
}

/* Clock */

#clock {
    color: @primary;
}

/* Audio */

#pulseaudio {
    color: @secondary;
}

#pulseaudio.muted {
    color: @outline;
}

/* Network */

#network {
    color: @tertiary;
}

/* Battery */

#battery {
    color: @primary;
}

#battery.warning {
    color: @error;
}

#battery.critical {
    color: @error;
}

/* Tooltip */

tooltip {
    background: @surface_container;
    color: @on_surface;
    border-radius: 8px;
}
