@import url("file:///home/vodrech/.cache/matugen/waybar/colors.css");

* {
    font-family: "JetBrainsMono Nerd Font";
}

window#waybar {
    background: @background;
    color: @foreground;
}

* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    border: none;
    min-height: 0;
}

window#waybar {
    background: alpha(@background, 0.85);
    color: @foreground;
    border-radius: 14px;
}

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    color: @muted;
    background: transparent;
    padding: 0 10px;
    border-radius: 10px;
}

#workspaces button.active {
    background: @accent;
    color: @background;
}

#workspaces button:hover {
    background: @surface;
}

#window {
    color: @foreground;
    padding: 0 15px;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#battery,
#tray {
    background: @surface;
    color: @foreground;
    padding: 0 12px;
    margin: 5px;
    border-radius: 10px;
}

#battery.warning {
    color: @warning;
}

#battery.critical {
    color: @error;
}
