/* Nice color pallete for inspo
 * https://creativebooster.net/blogs/colors/sunset-color-palettes
 */

/*import the wanted theme | /styles/{name}-theme.css */
/* Available themes:
 * - sandy
 * - flower
 * 
 *
 */
@import "colors.css";
@import "styles/sandy-theme.css";

* {
    font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
    font-size: 8px;
}

window#waybar {
    background-color: rgba(0,0,0,0);
    border-radius: 13px;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover, #cpu:hover {
    background-color: @surface2;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @primary;
}


#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: @lavender;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#pulseaudio
{
    padding: 0 10px;
}

#pulseaudio {
    color: @maroon;
}

#temperature, #memory, #cpu, #network, #language, #pulseaudio{
	color: @text;
	font-weight: bold;
	background-color: @primary;
	border-radius: 20px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#pulseaudio {
	padding-right: 10px;
	padding-left: 10px;
}

#clock {
  color: @text-standalone;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 10px;
}

#window {
    color: @rosewater;
}

#custom-os-icon {
    color: @primary;
    padding-right: 5px;
    font-size: 20px;
}

.modules-right,.modules-left,.modules-center {
    background-color: @base;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
}

.modules-right {
}

.modules-left {
    padding: 0 20px;
}
